{% extends "base.html" %}

{% block title %}Contraseña actualizada{% endblock %}

{% block content %}
{% include "includes/math-bg.html" %}
<section id="password-reset-complete" class="pt-20">
    <div>
        <h2>Contraseña actualizada</h2>
        
        <div>
            <p>
                Tu contraseña se ha actualizado correctamente.
            </p>
            
            <p>
                Ingresa con tus nuevos datos y continúa donde te quedaste.
            </p>
        </div>

        <div>
            <a href="{% url 'accounts:login' %}">
                Iniciar sesión
            </a>
        </div>
    </div>
</section>
{% endblock %}
