<nav id="main-navbar" class="fixed w-full z-40 transition-all duration-300 sm:py-5 py-4 hover:scale-101">
    <div class="container flex items-center justify-between mx-auto">
        <a class="text-xl font-bold text-primary flex items-center" href="/">
            <span class="relative z-10">
                <span class="text-glow text-foreground">U</span>-Clases
            </span>
        </a>

        
    </div>
</nav>

{% block scripts %}
<script>
    // Scroll effect
    window.addEventListener('scroll', function () {
        const nav = document.getElementById('main-navbar');
        if (window.scrollY > 12) {
            nav.classList.add('sm:py-3', 'py-2', 'bg-background/80', 'backdrop-blur-md', 'shadow-xs');
            nav.classList.remove('sm:py-5', 'py-4');
        } else {
            nav.classList.remove('sm:py-3', 'py-2', 'bg-background/80', 'backdrop-blur-md', 'shadow-xs');
            nav.classList.add('sm:py-5', 'py-4');
        }
    });
</script>
{% endblock %}